<div class="container clearfix">
    <% if flash[:notice] %>
		<p class="flash-font notice"><%= flash[:notice] %></p>
    <% end %>

    <h1>投稿一覧</h1>
    <% @posts.each do |post| %>
        <div class="post-space">
            <div class="col-md-4 post">
                <%= link_to user_post_path(post.id) do %>
                    <%= attachment_image_tag post, :image, fomat: 'jpg', size: "300x300", fallback: "no_image.jpg" %>
                <% end %>

                <div class="post-content-line">時期</div>
                <%= post.season.season_name %>
                
                <div class="post-content-line">場所</div>
                <%= post.region.region_name %>
            </div>
        </div>
    <% end %>

</div>