<div class="container">

    <h1>post index</h1>
    <% @posts.each do |post| %>
        <div class="post-box">
                <div class="col-md-4 ">
                    <%= link_to user_post_path(post.id) do %>
                    <%= attachment_image_tag post, :image, fomat: 'jpg', size: "300x300", fallback: "no_image.jpg" %>
                    <% end %>
                    <div>ここに季節（月）を表示</div>
                    <%= post.season_id %>
                    
                    <div>ここに地域を表示</div>
                    <%= post.region_id %>
                    
                    <div>ここにコメントを表示</div>
                    <%= post.caption %>
                </div>
        </div>
    <% end %>

</div>