<div class="container">
    <% if flash[:notice] %>
		<p class="text-font notice"><%= flash[:notice] %></p>
	<% end %>
    <div class="row">
        <h1>新規投稿</h1>
        
        <%= form_for (@post), url: user_posts_path, method: :post do |post| %>
        
            <%= post.attachment_field :image %>
            
             <label>時期を選択</label>
            <%= post.collection_select :season_id, Season.all, :id, :season_name, :include_blank => true %>
            
            <label>地域を選択</label>
            <%= post.collection_select :region_id, Region.all, :id, :region_name, :include_blank => true %>
            
            <%= post.text_area :caption %>
            
            <%= post.submit "投稿する" %>
        
        <% end %>
    </div>
</div>