<div class="container">
    <% if flash[:notice] %>
		<p class="text-font notice"><%= flash[:notice] %></p>
	<% end %>
    <div class="row">
        <h1>新規投稿</h1>
        
        <%= form_for (@post), url: user_posts_path, method: :post do |post| %>
        
            <%= post.attachment_field :image %>
            
            <%= post.text_area :caption %>
            
            <%= post.submit "投稿する" %>
        
        <% end %>
    </div>
</div>