<header>
	<div class="clearfix">
		<div class="site-name">AGUMO</div>
		<% if user_signed_in? %>
	
			<div class="nav-list">
	    		<%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
	    	</div>
			<div class="nav-list">
	    		<%= link_to "マイページ", user_user_path(current_user) %>
	    	</div>
			<div class="nav-list">
	    		<%= link_to "投稿一覧", user_posts_path %>
	    	</div>
			<div class="nav-list">
	    		<%= link_to "写真を投稿", new_user_post_path %>
	    	</div>
	    	
		<% else %>
	
			<div class="nav-list">
		    	<%= link_to "ログイン", new_user_session_path %>
		    </div>
			<div class="nav-list">
		    	<%= link_to "新規登録", new_user_registration_path %>
		    </div>
			<div class="nav-list">
	    		<%= link_to "投稿一覧", user_posts_path %>
	    	</div>
			<div class="nav-list">
	    		<%= link_to "写真を投稿", new_user_session_path %>
	    	</div>
		<% end %>
		
		</div>
	</div>
</header>